@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #332e29;
    --light-color: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

button, .btn{
    cursor: pointer;
    border: none;
    background: transparent;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.vh-100{
    min-height: 100vh;
}
h1, h2, h3{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: var(--dark-color);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.py-7{
    padding: 7rem 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
.lead{
    opacity: 0.8;
    padding: 1rem 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.8;
}

/* navigation */
#navbar{
    background-color: rgb(45, 44, 44);
    color: var(--light-color);
    overflow: hidden; /* Hide any overflowing content */
    z-index: 7;
    padding: 5px 0;
}
.nav-control{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    
}
/* Button Styles */
.navbar-toggler {
    padding: 5px;
}

.navbar-toggler i{
    font-size: 25px;
}
.nav-control a{
    color: var(--light-color);
}
.nav-content-list{
    justify-content: space-evenly;
}
.nav-content ul li:first-child {
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}
.nav-content ul li a{
    color: var(--light-color);
    font-size: 1.5rem;
    transition: var(--transition);
}
.nav-content ul li a:hover{
    opacity: 0.7;
}
.nav-content ul li{
    margin: 0.5rem 1rem;
}

/* Page content */
.content {
    padding: 16px;
}
  
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

.show-list {
    display: block !important;
}


/* header */
#header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/header-banner.jpg') center/cover no-repeat fixed;
    justify-content: flex-start;
    align-items: flex-end;
}
#header .container{
    width: 100%;
}
.header-content{
    padding-bottom: 4rem;
}
.header-content h1{
    font-size: 2rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--light-color);
}
.header-content h3{
    color: var(--light-color);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
.social-links{
    display: flex;
    padding-left: 0;
    margin-top: 3.5rem;
}
.social-links li a{
    width: 40px;
    height: 40px;
    background-color: var(--light-color);
    margin-right: 1rem;
    border-radius: .3rem;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}
.social-links li a:hover{
    opacity: 0.8;
}

/* work */
#work{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/work-pic.jpg') center/cover no-repeat fixed;
    color: var(--light-color);
}
#work .title h2, #work h3{
    color: var(--light-color);
}
#work .title h2::after{
    background: var(--light-color);
}
.work-bottom{
    margin-top: 4rem;
    text-align: center;
}
.work-bottom > div .icon .icon-pic{
    margin: 0 auto 1.7rem auto;
}

/* portfolio */

.portfolio-nav {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
}

.portfolio-nav button {
    cursor: pointer;
    font-size: 1.5rem;
    color: #777; /* Default button color */
    padding: 10px 20px;
    margin: 5px; /* Add margin to create spacing between buttons */
    max-width: 100%; /* Allow buttons to occupy full width of grid cell */
}


.portfolio-nav button.active {
    color: #333; /* Dark grey color for active text */
}

.portfolio-grid > div{
    transition: var(--transition);
}

.portfolio-grid > div:hover{
    transform: scale(0.9);
}
/* CSS for lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 9999;
    text-align: center;
    overflow: hidden; /* Use overflow: hidden to prevent scrolling */
}

.lightbox-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: none; /* Allow the content to exceed viewport width */
    max-height: none; /* Allow the content to exceed viewport height */
    overflow: hidden; /* Use overflow: hidden to prevent scrolling */
}



.lightbox-img {
    max-width: 100%;
    max-height: 90vh;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer; /* Add this line */
}

.lightbox-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Update the CSS for positioned buttons outside the lightbox content */
.lightbox-prev,
.lightbox-next {
    font-size: 4rem; /* Increase the font size for larger buttons */
    font-weight: initial;
    background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background */
    padding: 1rem; /* Add padding for better clickability */
    cursor: pointer;
    z-index: 1001; /* Ensure they are above other content */
    border-radius: 0; /* Remove border-radius for square buttons */
    position: fixed; /* Position the buttons */
    top: 50%; /* Vertically center them */
    transform: translateY(-50%); /* Adjust vertical positioning */
}

.lightbox-prev {
    left: 20px; /* Position the previous button to the left */
}

.lightbox-next {
    right: 20px; /* Position the next button to the right */
}

/* Update the close button */
.lightbox-close {
    font-size: 8rem; /* Increase the font size for the close (cross) icon */
    font-weight: initial;
    position: fixed; /* Position the close icon */
    top: 5px; /* Adjust vertical positioning */
    right: 20px; /* Adjust horizontal positioning */
    cursor: pointer;
    z-index: 1001; /* Ensure it's above other content */
}

/* Make the lightbox close button bigger */
.lightbox-close:before {
    font-size: 3rem;
}

/* instagram */
#insta{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('../images/insta-pic.jpg') center/cover no-repeat fixed;
    min-height: 65vh;
}
#insta .title h2{
    color: var(--light-color);
}
#insta .title h2::after{
    background-color: var(--light-color);
}
.insta-grid > div{
    height: 400px;
    overflow: hidden;
    transition: var(--transition);
}
.insta-grid > div img{
    height: 100%;
    object-fit: cover;
}
.insta-grid > div:hover{
    transform: scale(0.9);
}

/* contact */
#contact{
    background-color: rgb(248, 248, 248);
}
.contact-content{
    flex-direction: column;
    align-items: stretch;
}
.contact-left{
    margin-bottom: 5rem;
}
.contact-left .lead{
    padding: 0.5rem;
}
.contact-left form{
    margin-top: 3rem;
}
.contact-left form .form-control{
    display: block;
    margin: 1.6rem 0;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 1rem;
    width: 100%;
}
.contact-left form .form-control::placeholder{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-left .btn-submit{
    padding: 1.4rem 3rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.6rem;
    transition: var(--transition);
}
.contact-left .btn-submit:hover{
    background-color: #000;
}

/* CSS for slow jump animation */
.jump {
    animation: jumpAnimation 3s infinite;
}

@keyframes jumpAnimation {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}


/* about */
.about-left{
    margin-bottom: 4rem;
    height: 480px;
    overflow: hidden;
}

.about-right > .lead > a:hover{
    opacity: 0.8;
}

/* button down and title -reusable */
.btn-down{
    font-size: 3rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}
.btn-down:hover{
    opacity: 0.8;
    transform: translateY(5px);
}
.btn-down-white{
    color: var(--light-color);
}
.title{
    margin-bottom: 5rem;
}
.title h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}
.title h2::after{
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 70px;
    height: 4px;
    background-color: var(--dark-color);
}

/* footer */
#footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}
.footer-content{
    text-align: center;
}
.footer-content h3{
    color: var(--light-color);
    font-size: 2.5rem;
    letter-spacing: 1px;
}
.footer-content ul{
    flex-direction: column;
}
.footer-content ul li a{
    color: var(--light-color);
    font-size: 1.5rem;
    transition: var(--transition);
}
.footer-content ul li a:hover{
    opacity: 0.7;
}
.footer-content ul li{
    margin: .5rem 1rem;
}
.footer-content > div:first-child{
    margin-bottom: 3rem;
}
.footer-content > div:first-child div{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 5rem auto;
    border-radius: 50%;
}

.footer-content > div:first-child div img{
    height: 100%;
    width: 100%;
}

.footer-content > p{
    margin-top: 10px;
}


/* Media Queries */

@media(min-width: 450px){
    .work-bottom{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 3rem;
    }
    .portfolio-nav{
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}
@media(max-width: 576px){
    .nav-content ul{
        display: none;
    }
}
@media(min-width: 576px){
    .title h2{
        font-size: 4rem;
    }
    .nav-control{
        display: none;
    }
    .work-bottom{
        grid-template-columns: repeat(4, 1fr);
        row-gap: 3rem;
    }
    .portfolio-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio-grid > div{
        height: 300px;
        overflow: hidden;
    }
    .portfolio-grid > div img{
        height: 100%;
        object-fit: cover;
    }
    .portfolio-nav {
        grid-template-columns: repeat(8, 1fr); /* Display 4 buttons in a row when screen width is small */
    }
    .contact-left form .form-control{
        max-width: 500px;
    }
    .footer-content ul{
        flex-direction: row;
    }

}

@media(min-width: 768px){
    .header-content h1{
        font-size: 7rem;
    }
    .about-content, .work-top{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 6rem;
        row-gap: 0;
    }
    .about-left{
        margin-bottom: 0;
    }
    .contact-content{
        flex-direction: row;
    }
    .contact-right{
        padding-left: 3rem;
        width: 50%;
    }
    .contact-left{
        width: 50%;
    }
    .insta-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 992px){
    .insta-grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .insta-grid > div{
        height: 250px;
    }
}

@media(min-width: 1200px){
    .portfolio-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .portfolio-grid > div:nth-child(2){
        grid-column: 2 / 4;
    }
    .portfolio-grid > div:nth-child(6){
        grid-column: 1 / 3;
    }
}

